/* =========Local Fonts=========== */
@font-face {
    font-family: Overpass;
    src: url('../Fonts/overpass-regular.otf');
}

@font-face {
    font-family: Redshift;
    src: url('../Fonts/redshift-semi-bold.ttf');
}

/* =========Dark Colors=========== */
@media (prefers-color-scheme: dark) {
    :root:not(.light):not(.dark) {
        --main-bg: #14131A;
        --primary-bg: #1C1B23;
        --main-color: #FFFFFF;
        --primary-color: #9BA6B1;    
    }
}

.dark {
    --main-bg: #14131A;
    --primary-bg: #1C1B23;
    --main-color: #FFFFFF;
    --primary-color: #9BA6B1;    
}

/* =========Light Colors=========== */
@media (prefers-color-scheme: light) {
    :root:not(.light):not(.dark) {
        --main-bg: #F2F5FA;
        --primary-bg: #FFFFFF;
        --main-color: #000000;
        --primary-color: #000000;    
    }
}

.light {
    --main-bg: #F2F5FA;
    --primary-bg: #FFFFFF;
    --main-color: #000000;
    --primary-color: #000000;    
}

/* =========App=========== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
    background: var(--main-bg);
}

.section-loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.section-loader .loader {
    width: 200px;
    height: 200px;
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px); 
}
  
.section-loader .loader div {
    box-sizing: content-box;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    animation: animate-loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; 
}
  
.section-loader .loader div:nth-child(1) {
    border-color: #E91E63; 
}
  
.section-loader .loader div:nth-child(2) {
    border-color: #0dbda1;
    animation-delay: -0.5s; 
}

.app {
    padding: 2rem;
    gap: 2rem;
    display: none;
}

.app .profile-box {
    position: sticky;
    top: 2rem;
    display: flex;
    justify-content: center;
    height: 100%;
    z-index: 4;
    max-width: 374px;
    max-height: calc(100vh - 2rem);
}

.app .profile-box .profile-img {
    position: absolute;
    height: 8rem;
    width: 8rem;
    overflow: hidden;
    border-radius: 10px;
}

.app .profile-box .profile-img .gradient {
    padding: 3px;
    background: linear-gradient(to right, red, orange);
}

.app .profile-box .profile-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.app .profile-box .profile {
    margin-top: 4rem;
    padding: 5rem 1em 1rem;
    width: 100%;
    background: var(--primary-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    gap: 1rem;
}

.app .profile-box .profile .portfolio {
    text-align: center;
}

.app .profile-box .profile .author {
    font-family: Redshift;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--main-color);
}

.app .profile-box .profile .about {
    font-family: Redshift;
    font-size: 16px;
    color: #6C757D;
}

.app .profile-box .profile .contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.app .profile-box .profile .contact .social {
    display: flex;
    justify-content: space-around;
}

.app .profile-box .profile .contact .social .box {
    padding: 0.8rem;
    background-color: var(--main-bg);
    border-radius: 10px;
    cursor: pointer;
}

.app .profile-box .profile .contact .social .box a {
    text-decoration: none; 
    font-size: 30px;
}

.app .profile-box .profile .contact .social .box:hover a {
    scale: 1.2;
    transition: all 0.1s ease-in-out;
}

.app .profile-box .profile .contact .social .box a.fa-facebook {
    color: #3D6AD6;
}

.app .profile-box .profile .contact .social .box a.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #FFC100 0%, #FF8600 5%, #FF4800 45%,#E70070 60%,#DA00AC 90%);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.app .profile-box .profile .contact .social .box a.fa-github {
    color: var(--main-color);
}

.app .profile-box .profile .contact .social .box a.fa-linkedin {
    color: #0077B5
}

.app .profile-box .profile .contact .social .box a.fa-twitter {
    color: #03A9F4;
}

.app .profile-box .profile .contact .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    background: var(--main-bg);
}

.app .profile-box .profile .contact .card .detail {
    display: flex;
    gap: 1rem;
}

.app .profile-box .profile .contact .card .detail .icon {
    display: flex;
    align-items: center;
}

.app .profile-box .profile .contact .card .detail .icon i.fa-mobile {
    font-size: 2.5rem;
    background: radial-gradient(circle at 30% 107%, #01A0FA 0%, #0FBDD9 20%, #1EDCB4 50%,#29F39A 80%);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.app .profile-box .profile .contact .card .detail .icon i.fa-envelope-o {
    font-size: 1.6rem;
    background: radial-gradient(circle at 30% 107%, #37329A 0%, #F503C9 80%);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.app .profile-box .profile .contact .card .detail .icon i.fa-map-marker {
    font-size: 2rem;
    background: radial-gradient(circle at 30% 107%, #7F55E2 0%, #B38AF7 80%);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.app .profile-box .profile .contact .card .detail .data {
    overflow: auto;
}

.app .profile-box .profile .contact .card .detail .data .heading{
    color: #6C757D;
    font-size: 14px;
    font-family: Redshift;
}

.app .profile-box .profile .contact .card .detail .data a {
    text-decoration: none;
    color: #9BA6B1;
    font-family: Redshift;
    font-size: 16px;
    text-wrap: nowrap;
}

.app .profile-box .profile .contact .card .detail .data .heading,
.app .profile-box .profile .contact .card .detail .data a {
    margin: 0.3rem 0;
    display: block;
    width: 100%;
    overflow: auto;
} 

.app .profile-box .profile .contact .card .download {
    display: flex;
    justify-content: center;
}

.app .profile-box .profile .contact .card .download button {
    padding: 0.9rem 1.3rem;
    outline: none;
    border: none;
    background: linear-gradient(to right, #FFBE0B, #F42B03);
    border-radius: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

.app .profile-box .profile .contact .card .download button:hover {
    opacity: 0.9;
}

.app .profile-box .profile .contact .card .download button:active {
    opacity: 0.7;
}

.app .profile-box .profile .contact .card .download button i {
    font-size: 1.3rem;
    margin-right: 5px;
}

.app .profile-box .profile .contact .card .download button span {
    font-size: 1rem;
    font-family: Redshift;
}

.app .clearfix {
    position: fixed;
    height: 2rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: var(--main-bg);
}

.app .container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    height: calc(100% - 2rem);
}

.app .container .navbar {
    position: sticky;
    top: 2rem;
    z-index: 1;
    background: var(--main-bg);
    display: flex;
    justify-content: end;
}

.app .container .navbar .links {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.app .container .links .tab {
    background: var(--main-bg);
    box-shadow: rgba(77, 77, 77, 0.35) 0px 5px 15px;
    border-radius: 20px;
    width: 100px;
    height: 100%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.app .container .links .tab.active {
    background: linear-gradient(to right, #FFBE0B, #F42B03);
}

.app .container .links .tab a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #6C757D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.app .container .links .tab a span {
    font-family: Redshift;
}

.app .container .links .tab.active a {
    color: white;
}

.app .container .links .tab .icon {
    background-size: 35px;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    fill: #6C757D;
}

.app .container .links .tab.active .icon {
    fill: #FFFFFF;
}

.app .container .content {
    background-color: var(--primary-bg);
    border-radius: 10px;
    padding: 2rem 3rem;
    display: none;
}

.app .container .content .box:not(:last-child) {
    margin-bottom: 2rem;
}

.app .container .content .box .sticky {
    z-index: 2;
    position: sticky;
    display: inline;
    top: 5rem;
}

.app .container .content .box .sticky .heading {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-family: Overpass;
    color: var(--main-color);
}

.app .container .content .box .sticky .heading::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: calc(100% + 5px);
    height: 2px;
    width: 80%;
    background: linear-gradient(to right, #FFBE0B, #F42B03);
}

.app .container .content .box p {
    font-size: 20px;
    font-family: Overpass;
    color: #6C757D;
    text-align: justify;
}

.app .container .content .box .education {
    display: flex;
    gap: 1rem;
}

.app .container .content .box .education .icon {
    background-image: url('../images/utility/text-book_7505173.svg');
    background-size: 50px;
    background-repeat: no-repeat;
    min-height: 50px;
    min-width: 50px;
}

.app .container .content .box .education .details .title {
    color: #6C757D;
    font-family: Redshift;
}

.app .container .content .box .education .details .title .from {
    color: #0BCEAF;
    text-decoration: underline;
    font-family: Redshift;
}

.app .container .content .box .education .details .date {
    font-family: Overpass;
    color: #6C757D;
}

.app .container .content .box .education .details .date span.from::after{
    content: " - ";
}

.app .container .content .box .divider {
    margin: 1rem 0;
}

.app .container .content .box .dropper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
    gap: 4rem;
}

.app .container .content .box .dropper .skill .title {
    font-family: Overpass;
    font-size: 20px;
    color: var(--main-color);
    text-transform: uppercase;
}

.app .container .content .box .dropper .skill .list:not(:last-child) {
    margin-bottom: 0.5rem;
}

.app .container .content .box .dropper .skill .list .lang {
    font-family: Overpass;
    font-size: 20px;
    color: #6C757D;;
    text-transform: uppercase;
}

.app .container .content .box .dropper .skill .list .progress {
    float: right;
    font-size: 16px;
}


.app .container .content .box .dropper .skill .list progress {
    display: block;
    height: 10px;
}

.app .container .content .box .dropper .skill .list progress[value] {
    --w: 100%; 
    --color: #0BCEAF;
    --background: var(--main-bg); 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: var(--w);
    border-radius: 10em;
    background: var(--background);
}

.app .container .content .box .dropper .skill .list progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    background: var(--background);
}

.app .container .content .box .dropper .skill .list progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}

.app .container .content .box .dropper .skill .list progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
}

.app .container .content .box .expose {
    display: flex;
    gap: 4rem;
}

.app .container .content .box .expose .primary {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.app .container .content .box .expose .primary .card {
    flex: 0 0 auto;
    text-align: center;
    background-color: #F8F2EC;
    border-radius: 10px;
    overflow: hidden;
}

.app .container .content .box .expose .primary .card .img {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.app .container .content .box .expose .primary .card .img img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 100%;
}

.app .container .content .box .expose .primary .card .img:hover img {
    opacity: 0.7;
    transition: all 100ms ease-in-out;
}

.app .container .content .box .expose .primary .card .img .action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.app .container .content .box .expose .primary .card .img:hover .action {
    display: block;
}

.app .container .content .box .expose .primary .card .img:hover .action button {
    margin-right: 10px;
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #FFBE0B, #F42B03);
    color: white;
    cursor: pointer;
}

.app .container .content .box .expose .primary .card .detail {
    margin: 0.5rem 2rem 1rem;
}

.app .container .content .box .expose .primary .card .detail .title {
    font-family: Overpass;
    color: #000000;
}

.app .container .content .box .expose .primary .card .detail .used {
    font-family: Overpass;
    color: #6C757D;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    text-transform: uppercase;
}

.app .container .content .box .expose .secondary {
    flex: 0 1 25%;
    background-color: var(--main-bg);
    max-width: fit-content;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.app .container .content .box .expose .secondary .more {
    color: var(--main-color);
    font-family: Overpass;
    margin-bottom: 1rem;
}

.app .container .content .box .expose .secondary .list {
    display: flex;
    flex-direction: column;
}

.app .container .content .box .expose .secondary .list .item {
    display: flex;
    align-items: center;
    font-family: Overpass;
}

.app .container .content .box .expose .secondary .list .divider {
    margin: 0.5rem;
}

.app .container .content .box .expose .secondary .list .item .text:hover .title,
.app .container .content .box .expose .secondary .list .item .arrow:hover,
.app .container .content .box .expose .secondary .list .item .text:has(+ .arrow:hover) .title,
.app .container .content .box .expose .secondary .list .item .text:hover + .arrow {
    color: #6C757D !important;
}

.app .container .content .box .expose .secondary .list .item .icon {
    margin-right: 1rem;
}

.app .container .content .box .expose .secondary .list .item .text {
    margin-right: 1rem;
    width: 100%;
    overflow: hidden;
}

.app .container .content .box .expose .secondary .list .item .icon img {
    height: 35px;
    width: 35px;
}

.app .container .content .box .expose .secondary .list .item .text p {
    cursor: pointer;
    line-height: 1.4rem;
    white-space: nowrap;
}

.app .container .content .box .expose .secondary .list .item .text .title {
    cursor: pointer;
    color: var(--main-color);
}

.app .container .content .box .expose .secondary .list .item .text .used {
    font-size: 15px;
    text-transform: uppercase;
}

.app .container .content .box .expose .secondary .list .item .arrow {
    cursor: pointer;
    color: var(--main-color);
    transform: rotate(-90deg);
}

.app .container .content .box .pdfobject-container { 
    height: 30rem; 
    border: 1rem solid rgba(0,0,0,.1); 
    width: 100%;
}

/** =======Style for responsive======= **/

@media screen and (max-width : 1800px) {
    .app .container .content .box .expose {
        flex-direction: column;
        gap: 3rem;
    }

    .app .container .contact .box .expose .primary {
        flex: 1 0 auto;
    }

    .app .container .content .box .expose .primary .card {
        flex: 0 0 calc(33.33% - 0.67rem);
    }

    .app .container .content .box .expose .secondary {
        max-width: inherit;
    }
}

@media screen and (max-width: 1680px) {
    .app .container .content .box .expose .primary .card {
        flex-basis: calc(50% - 1rem);
    }
}

@media screen and (max-width : 1360px) {
    .app .container .content .box .sticky {
        position: static;
    }

    .app .container .content .box .sticky .heading {
        margin-bottom: 1rem;
    }

    .app .container .content .box .sticky .heading::after {
        top: 90%;
        left: 0;
        width: 100%;
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 1180px) {
    .app .container .content .box .expose .primary .card {
        flex-basis: calc(100%);
    }
}

@media screen and (max-width : 979px) {
    .app {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .app .clearfix {
        display: none;
    }

    .app .profile-box {
        position: relative;
        margin-bottom: 2rem;
        min-height: 680px;
    }

    .app .container .navbar {
        display: none;
    }

    .app .container .content {
        display: block;
    }

    .app .container .content .box .dropper {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .app .container .content .box .expose .primary .card {
        flex-basis: calc(50% - 1rem);
    }

    .app .container #resume {
        display: none;
    }
}

@media screen and (max-width: 630px) {
    .app .container .content .box .expose .primary .card {
        flex-basis: calc(100%);
    }
}

@media screen and (max-width : 560px) {
    .app {
        padding-left: 0;
        padding-right: 0;
    }

    .app .profile-box {
        max-width: 100%;
        width: 100%;
    }

    .app .container .content {
        padding: 2rem 1rem;
    }

    .app .container .content .box .dropper {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

/** =====Universal======= **/
.divider {
    width: 100%;
    height: 1px;
    border-top: 1px solid #242424;
}

/** =======Animations======= **/

@keyframes animate-loader {
    0% {
      top: 94px;
      left: 94px;
      width: 0;
      height: 0;
      opacity: 1; 
    }

    100% {
      top: 57px;
      left: 57px;
      width: 74px;
      height: 74px;
      opacity: 0; 
    } 
}
